// filepath: d: \zmk\zmk-config-kyria-view\config\combos.dtsi
// / {
    //     combos {
        //         compatible = "zmk,combos";

        //         combo_navLCtrl_move {
            //             timeout-ms = <50>;
            //             key-positions = <42 12>; // Replace with the correct positions for Q and W
            //             bindings = <&kp ESC>;
        //         };
    //     };
// };